body {
  background-size: auto; /* Asegura que el fondo cubra todo el área visible */
  background-position: 100%; /* Centra el fondo para evitar cortes */
  background-image: radial-gradient(
      100% 100% at 48% 21%,
      #ecdada38 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #080300ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #430000ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #42030aff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #000000ff 0%, #000000ff 100%);
  padding: 0;
  margin: 0; /* Elimina los márgenes para asegurarte de que el fondo se extienda correctamente */
}
